<h1>Listing lokasyons</h1>

<table>
  <thead>
    <tr>
      <th>Icerik</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lokasyons.each do |lokasyon| %>
      <tr>
        <td><%= lokasyon.icerik %></td>
        <td><%= link_to 'Show', lokasyon %></td>
        <td><%= link_to 'Edit', edit_lokasyon_path(lokasyon) %></td>
        <td><%= link_to 'Destroy', lokasyon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lokasyon', new_lokasyon_path %>
