<p id="notice"><%= notice %></p>

<p>
  <strong>Personel:</strong>
  <%= @personel_kart.personel_id %>
</p>

<p>
  <strong>Isim:</strong>
  <%= @personel_kart.isim %>
</p>

<p>
  <strong>Soyisim:</strong>
  <%= @personel_kart.soyisim %>
</p>

<p>
  <strong>Tc kimlik:</strong>
  <%= @personel_kart.tc_kimlik %>
</p>

<p>
  <strong>Dogum tarihi:</strong>
  <%= @personel_kart.dogum_tarihi %>
</p>

<p>
  <strong>Baba adi:</strong>
  <%= @personel_kart.baba_adi %>
</p>

<p>
  <strong>Anne adi:</strong>
  <%= @personel_kart.anne_adi %>
</p>

<p>
  <strong>Ehliyet no:</strong>
  <%= @personel_kart.ehliyet_no %>
</p>

<p>
  <strong>Lise:</strong>
  <%= @personel_kart.lise %>
</p>

<p>
  <strong>Universite:</strong>
  <%= @personel_kart.universite %>
</p>

<p>
  <strong>Cep no:</strong>
  <%= @personel_kart.cep_no %>
</p>

<p>
  <strong>Ev no:</strong>
  <%= @personel_kart.ev_no %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @personel_kart.adres %>
</p>

<p>
  <strong>Proje bil:</strong>
  <%= @personel_kart.proje_bil %>
</p>

<p>
  <strong>Sinav bil:</strong>
  <%= @personel_kart.sinav_bil %>
</p>

<p>
  <strong>Bilgisayar bil:</strong>
  <%= @personel_kart.bilgisayar_bil %>
</p>

<p>
  <strong>Kan gr:</strong>
  <%= @personel_kart.kan_gr %>
</p>

<%= link_to 'Edit', edit_personel_kart_path(@personel_kart) %> |
<%= link_to 'Back', personel_karts_path %>
