<h1>Listing unvans</h1>

<table>
  <thead>
    <tr>
      <th>Icerik</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unvans.each do |unvan| %>
      <tr>
        <td><%= unvan.icerik %></td>
        <td><%= link_to 'Show', unvan %></td>
        <td><%= link_to 'Edit', edit_unvan_path(unvan) %></td>
        <td><%= link_to 'Destroy', unvan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unvan', new_unvan_path %>
