<h1>Listing calisma_seklis</h1>

<table>
  <thead>
    <tr>
      <th>Icerik</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calisma_seklis.each do |calisma_sekli| %>
      <tr>
        <td><%= calisma_sekli.icerik %></td>
        <td><%= link_to 'Show', calisma_sekli %></td>
        <td><%= link_to 'Edit', edit_calisma_sekli_path(calisma_sekli) %></td>
        <td><%= link_to 'Destroy', calisma_sekli, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calisma sekli', new_calisma_sekli_path %>
