<h1>Listing etkinlik_bilgisis</h1>

<table>
  <thead>
    <tr>
      <th>Personel</th>
      <th>Baslangic</th>
      <th>Bitis</th>
      <th>Etkinlik</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etkinlik_bilgisis.each do |etkinlik_bilgisi| %>
      <tr>
        <td><%= etkinlik_bilgisi.personel_id %></td>
        <td><%= etkinlik_bilgisi.baslangic %></td>
        <td><%= etkinlik_bilgisi.bitis %></td>
        <td><%= etkinlik_bilgisi.etkinlik %></td>
        <td><%= link_to 'Show', etkinlik_bilgisi %></td>
        <td><%= link_to 'Edit', edit_etkinlik_bilgisi_path(etkinlik_bilgisi) %></td>
        <td><%= link_to 'Destroy', etkinlik_bilgisi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etkinlik bilgisi', new_etkinlik_bilgisi_path %>
